<div>
  <div>{{article.title}}</div>
  <button *ngIf="displayImage" (click)="toggleImage()"class="info">Display Image</button>
  <img *ngIf="!displayImage" (click)="toggleImage()"src="{{article.link}}" alt="">
  <div>{{article.author}}</div>
  <div>{{trunc(article.text)}}</div>
  <button *ngIf="hide" class="info" (click) = hideText()>Hide All</button>
  <button *ngIf="!hide" class="info" (click) = readMore()>Read More</button>
  <button (click) = "deleteArticle(article.id)" class="info">Delete</button>
  
</div>
